body {
    margin-left: 200px;
  }
  p1 {
    color: #0000FF;
  }
  p2 {
      color: #0000FF;
  }
  p3 { 
      color: #FF0000;
  }
  p4{
      color: #FF0000;
  }
  p5{
      color: #FF0000;
  }
  body {
     background-color: honeydew;
  }